
header{
    width: 100%;
    background-color: #e74c3c;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

header ul{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
header ul li{
    display: flex;
    align-items: center;
    color: #ecf0f1;
    cursor: pointer;
    width: 250px;
    justify-content: center;
    height: 130px;
}

header img{
    width: 25%;
}

header ul li:hover{
    background-color: #e67e22;
}