/*Se diseña el card solamente*/

.card{
    width: 70%;
    /* height: 300px; */
    border: 1px solid #bdc3c7;
    box-sizing: content-box;
    border-radius: 10px;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    
}
.card img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card div{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    padding: 5px;
}